<div class="profile-wrap ">
  <div class="row text-center">
    <div class="col-md-4 ">
      <%= image_tag @user.profile_photo.url, class: "round-img" %>
    </div>
    <div class="col-md-8">
      <h1><%= @user.username %></h1>
      <ul>本当の名前 / <%= @user.name %></ul>
      <%if @user.message.present?%>
        <ul>メッセージ / <%= @user.message %></ul>
      <% end %>
    </div>
  </div>
</div>
