.navbar {
  background: linear-gradient(-135deg, #2b2724, #736d77);
  // background-repeat: no-repeat;
  // background-image: url("~top_image.jpg");
  height: 50px;

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);

  }

  .dropdown-menu {
    background: linear-gradient(-135deg, #2b2724, #736d77);
  }

  &__mainLogo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 0 auto;
  }

  &-nav {
    &>li {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }

      .profile-icon {
        background-image: url("~parts3.png");
      }
    }
  }
}
