.navbar {
  // background-repeat: no-repeat;
  // background-image: url("~top_image.jpg");
  height: 50px;

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  &__mainLogo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 0 auto;
  }

  &-nav {
    &>li {
      color: rgb(255, 255, 255);
      margin-left: 20px;
      font-size: large;

      &:first-child {
        margin-left: 0;
      }

      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
    }
  }
}
