<footer>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark  footer-nav bg-dark">
    <div class="mx-auto">
      <a class="navbar-brand" href="https://www.facebook.com/groups/311473876611329" target="_blank">Facebook</a>
      <%= link_to "管理画面へ", admin_root_path%>
    </div>
  </nav>
</footer>
