<div class ="mw-md introduce-container">
  <h2>DTM connect Okinawa<br>
    とは？</h2>
  <p>
    沖縄に特化したDTMコミュニティ。<br>
    沖縄で活動するアーティストや沖縄にゆかりのある方<br>
    ご参加お待ちしております。<br>
    DAW/プラグインのトラブル、ライヴ活用方法、<br>
    レコーディング/Mixing Tips、<br>
    イベントからお仕事のご依頼、音源の宣伝などご活用下さい！<br>
    敬意のあるコミュニケーションをお願いします。<br>
    初心者や今から音楽を始めたい方、<br>
    お仕事でスタジオ経営しているプロまで幅広く歓迎致します。
  </p>
</div>
