<h2>DTM connect Okinawaとは？</h2>
<p>沖縄に特化したDTMコミュニティ。沖縄で活動するアーティストや沖縄にゆかりのある方のご参加お待ちしております。DAW/プラグインのトラブル、ライヴ活用方法、レコーディング/Mixing Tips、イベントからお仕事のご依頼、音源の宣伝などご活用下さい！敬意のあるコミュニケーションをお願いします。初心者や今から音楽を始めたい方、お仕事でスタジオ経営しているプロまで幅広く歓迎致します。</p>
