body {
padding: 70px 0px;
background-image: linear-gradient(#cde0e9 50%, #f4c14e 80%, #d36950 90%);
font-size: 14px;
  color: #262626;
}

// 最大最小サイズの指定
.mw-sm {
  max-width: 360px;
}
.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

// ページネーション
.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  /*枠線をなくす*/
  color: #696969;
  /*文字の色を変える*/
}

.pagination>.active>a {
  background: #93c9ff;
  /*背景の色を変える*/
  border-radius: 15px;
  /*角を丸くする*/
}

.pagination>li>a:hover {
  border-radius: 15px;
  /*角を丸くする*/
}