.profile-wrap {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  p.break {
    overflow-wrap: break-word;
  }

}

.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

