// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
   /*枠線をなくす*/
  color: #696969;
   /*文字の色を変える*/
}

.pagination>.active>a {
  background: #93c9ff;
  /*背景の色を変える*/
  border-radius: 15px;
  /*角を丸くする*/
}

.pagination>li>a:hover {
  border-radius: 15px;
  /*角を丸くする*/
}